body {
    margin: 0px;
    background-color: #202020;
    font-family: "DefaultFont";
}

#game {
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: "DefaultFont";
    src: url(".././res/fnt/upheavtt.ttf");
}
